body {
    min-height: 100vh;
    background-image: url("../images/index-bg.webp");
    background-size: auto;
    /* background-position-y: 12%; */
    background-position-x: 50%;
}

section#bottom-menu {
    min-height: 100vh;
    background: rgba(0,0,0,.9);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-around;
}
section#bottom-menu > a {
    color: #d2d2d2;
    text-decoration: none;
    font-size: 1.4em;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
section#bottom-menu > a:hover,
section#bottom-menu > a:focus {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    color: white;
}